/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    135deg,
    #0a0a1f 0%,
    #1a1a3a 25%,
    #0f0f2f 50%,
    #050510 75%,
    #000000 100%
  );
  background-size: 400% 400%;
  min-height: 100vh;
  color: #d8d8eb;
  animation: gradientMove 20s ease infinite;
} */

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-width: 900;
}
h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-width: 500;
}
